<h1>Sturctural Derectives</h1>

<div *ngIf="isWatching">
    <h3 style="background-color: rgb(121, 121, 187);
    width: auto; 
    max-width: 200px;
    margin: 0 auto; 
    padding: 10px;;">i am watching </h3>
</div>


<button style="background-color: blueviolet;" (click)="hideWatching()">hide watching</button>
<button style="background-color: brown;" (click)="showWatching()">show watching</button>
<div>
    <h1><b style="background-color: red;">b</b> </h1>
</div>

<div >
<h3
*ngIf="isToggle"
style="background-color: rgb(121, 121, 187);
width: auto;
margin: auto;
padding: 10px;
max-width: 200px;
"
>TOggle SHOW</h3>
</div>

<button (click)="toggle()"
style="background-color: red;">toggleSHow/Hide</button>

<p style="background-color: blueviolet;">ngFor</p>

<div>
    <ul style=" padding: 0;
  list-style: none;">
        <li style="
            display: inline-block;
            
  margin-right: 15px;
  padding: 5px 10px;
  background-color: rgb(169, 193, 173);
  border-radius: 4px;
  font-size: 14px;
  color: #020e12;
  transition: background-color 0.3s ease; "
             *ngFor="let state of stateNames">{{state}}</li>
    </ul>
</div>

<div>
    <h3 style="background-color: rebeccapurple;
    text-decoration:solid;
    padding: 5px;
    margin-right: 1000px;">Select State form dropdown</h3>

<select name="" id="" style="padding: 8px 15px; font-size: 16px; border-radius: 5px; border: 1px solid #753737; background-color: #8f7026; color: white; outline: none; transition: all 0.3s ease;">
    <option value="" style="padding: 8px 15px; font-size: 16px; color: #333; background-color: #f4f4f4;">Select</option>
    <option *ngFor="let state of stateNames" [value]="state" style="padding: 8px 15px; font-size: 16px; color: #333; background-color: #f4f4f4;">{{ state }}</option>
</select>


</div>