


<table style="background-color: gray; border: 2px solid black;">
    <h2>Cousrse Name: {{courseName}}</h2>
    <tr>
      <td style="border: 1px solid black;">Name</td>
      <td style="border: 1px solid black;">{{ name }}</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Roll No</td>
      <td style="border: 1px solid black;">{{ rollNo }}</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Is Indian</td>
      <td style="border: 1px solid black;">
        {{ isIndian ? 'Yes' : 'No' }}
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Admission Date</td>
      <td style="border: 1px solid black;">
        {{ admissionDate  }}
      </td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Select state</td>
        <td style="border: 1px solid black;">{{stateName}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Input Type</td>
      <td style="border: 1px solid black;">
        
      </td>


    </tr>

   

  </table>
  <input type="text" [(ngModel)]="courseName" />
  <div >
 
    <button style="background-color: blueviolet;"(click)="showAlert('payment invoked')">Show Alert</button>
    <input type="text" >
      </div>
      <div>
        <button>Update State </button> 
        <select [(ngModel)]="stateName" >
            <option value="">select</option>
            <option value="goa">goa</option>
            <option value="delhi">delhi</option>
            <option value="kerala">kerala</option>
        </select>
  
</div>
